@charset "UTF-8";

body {
  background-color: #efefef;
}
#container {
  width:90%
    margin: 20px; auto;
}

h1   {
  color: #333; 
  font-family: 'Manrope',Arial, sans-serif;
  font-size:1.2em;
}
p  {
  color: #333;
  font-family: 'Manrope',Arial, sans-serif;
  font-size:1.2em;
}
